// @media only screen and (max-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
// }
.desription{
  text-align: center;
}
.image-icon {
  img{
    width: 50%;
  }
}
.subject{
  margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}